body {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.clear{ clear: both;}

.header {
  width: 100%;
  color: white;
  font-family: 'roboto';
  background: url('./img/headerBg.jpg');
  height: 150px;
}

.header .container {
  width: 1260px;
  margin: auto;
}

.header .container .row1 {  height: 30px;}

.header .container .row1 .menuLeft{  float: left;}
.header .container .row1 .menuLeft .item{  float: left;  font-size: 10pt;  /* width: 150px; */  text-align: center;  padding: 7px 10px 8px;}

.header .container .row1 .menuRight{  float: right;}
.header .container .row1 .menuRight .logoEner{  float: right;  background-image: url('./img/Ener.jpg');  width: 110px;  height: 27px;}
.header .container .row1 .menuRight .item{  float: right;  font-size: 10pt;  /* width: 150px; */  text-align: center;  padding: 4px 10px 5px;}

.header .container .row2 {  height: 84px}
.header .container .row2 .flags{  height: 35px;  width: 161px;  background-image: url('./img/flags.jpg');  float: left; margin-top: 18px}
.header .container .row2 .logo{ float: left; height: 71px;  width: 785px;  background-image: url('./img/logo.jpg'); background-position: center; background-repeat: no-repeat; margin: 7px auto;}
.header .container .row2 .options{  float: left; position: relative; top: 0px; left: 0px;  margin-top: 18px;}
.header .container .row2 .options .buscador { float: left;; width: 202px; background: white; height: 40px; position: relative; margin-right: 7px}
.header .container .row2 .options .buscador input {padding: 0px}
.header .container .row2 .options .buscador .btn_buscar{ background: url(http://www.miningpress.com/static/bg_buscador.png) no-repeat; cursor: pointer; width: 40px; height: 40px; left: 0; position: absolute; text-indent: -9999px; border: none}
.header .container .row2 .options .buscador .busqueda { border: none; color: #4D4D4D; height: 40px; line-height: 40px; padding-left: 46px; padding-right: 10px; width: 146px}
.header .container .row2 .options .fb { width: 40px; height: 40px; background-image: url('./img/fb.jpg'); float: left; cursor: pointer; margin-right: 7px}
.header .container .row2 .options .tw { width: 40px; height: 40px; background-image: url('./img/tw.jpg'); float: left; cursor: pointer;}

.header .container .row3 {  height: 31px; padding-top: 9px; color: white; font-size:10pt }
.header .container .row3 .date{  float: left;}
.header .container .row3 .session{  float: right;}

/*BANNERS HEAD*/
.bannerTops{  width: 100%;  background-color: #e4e4e4;}
.bannerTops .banners{  margin: auto;  width:965px;  padding: 20px 0px;}

/*CUERPO DE TAPA - ESTRUCTURA*/
.cuerpo{  width: 1260px;  margin: 30px auto;}
.cuerpo .info{  float: left;  width: 940px;  margin-right: 19px;}

.cuerpo .banners{  float: left;  width: 300px;  margin-right: 0px;}
.cuerpo .banners .banner{margin-top: 25px}

.cuerpo .banners .nota3 { margin-top: 25px}
.cuerpo .banners .nota3 .foto{width: 100%;  height: 200px; margin-bottom: 10px; background-size: cover;}
.cuerpo .banners .nota3 .volanta{width: 100%; font-family: 'Roboto'; margin-bottom: 10px; font-size: 10pt}
.cuerpo .banners .nota3 .volanta .txt{float: left;}
.cuerpo .banners .nota3 .volanta .flags{ float: right; }
.cuerpo .banners .nota3 .volanta .flags .flag{  float: right;  width: 22px;  height: 16px;}
.cuerpo .banners .nota3 .titulo{ margin-top: 15px; color: #001e45; line-height: 1.2; clear: both;  font-family: 'Roboto Slab', serif; font-size: 15pt; font-weight: 600; margin-bottom: 13px}
.cuerpo .banners .nota3 .relacionadas { font-family: 'roboto slab'; font-weight: 600; font-size: 11pt}
.cuerpo .banners .nota3 .relacionadas .relacionada {color: #1b4ea1; background-image: url('./img/link.jpg'); padding-left: 15px; background-repeat: no-repeat; margin-bottom: 11px; background-position: 0px 4px}

.cuerpo .info .bloqueA {}

.cuerpo .info .bloqueA .A1{  width: 600px;  float: left;  margin-right: 20px;}
.cuerpo .info .bloqueA .A1 .foto{width: 100%;  height: 200px; margin-bottom: 10px}
.cuerpo .info .bloqueA .A1 .volanta{width: 100%; font-family: 'Roboto'; margin-bottom: 10px; font-size: 10pt}
.cuerpo .info .bloqueA .A1 .volanta .txt{float: left;}
.cuerpo .info .bloqueA .A1 .volanta .flags{ float: right; }
.cuerpo .info .bloqueA .A1 .volanta .flags .flag{  float: right;  width: 22px;  height: 16px;}
.cuerpo .info .bloqueA .A1 .titulo{ margin-top: 34px; color: #001e45; line-height: 1.2; clear: both;  font-family: 'Roboto Slab', serif; font-size: 25pt; font-weight: 600; margin-bottom: 13px}
.cuerpo .info .bloqueA .A1 .relacionadas { font-family: 'roboto slab'; font-weight: 600; font-size: 11pt}
.cuerpo .info .bloqueA .A1 .relacionadas .relacionada {color: #1b4ea1; background-image: url('./img/link.jpg'); padding-left: 15px; background-repeat: no-repeat; margin-bottom: 11px; background-position: 0px 4px}

.cuerpo .info .bloqueA .A2{width: 320px;float: left;}
.cuerpo .info .bloqueA .A2 .foto{width: 100%;  height: 200px; margin-bottom: 10px}
.cuerpo .info .bloqueA .A2 .volanta { width: 100%; font-family: 'Roboto'; margin-bottom: 10px; font-size: 10pt}
.cuerpo .info .bloqueA .A2 .volanta .txt{ float: left;}
.cuerpo .info .bloqueA .A2 .volanta .flags{ float: right;}
.cuerpo .info .bloqueA .A2 .volanta .flags .flag{ float: right;  width: 22px;  height: 16px;}
.cuerpo .info .bloqueA .A2 .titulo{ margin-top: 34px; color: #001e45; line-height: 1.2; clear: both;  font-family: 'Roboto Slab', serif;  font-size: 25pt; font-weight: 600; margin-bottom: 13px}
.cuerpo .info .bloqueA .A2 .relacionadas { font-family: 'roboto slab'; font-weight: 600; font-size: 11pt}
.cuerpo .info .bloqueA .A2 .relacionadas .relacionada {color: #1b4ea1; background-image: url('./img/link.jpg'); padding-left: 15px; background-repeat: no-repeat; margin-bottom: 11px; background-position: 0px 4px}

.cuerpo .info .bloqueB {}

.cuerpo .info .bloqueB .notaB{  width: 300px;  float: left;  margin-right: 20px;}
/* .cuerpo .info .bloqueB .B2{  width: 300px;  float: left;  margin-left: 20px;}
.cuerpo .info .bloqueB .B3{  width: 300px;  float: left;} */

.cuerpo .info .bloqueB .notaB .foto{width: 100%;  height: 180px; margin-bottom: 10px; background-size: cover;}
.cuerpo .info .bloqueB .notaB .volanta { width: 100%; font-family: 'Roboto'; margin-bottom: 10px; font-size: 10pt}
.cuerpo .info .bloqueB .notaB .volanta .txt{ float: left;}
.cuerpo .info .bloqueB .notaB .volanta .flags{ float: right;}
.cuerpo .info .bloqueB .notaB .volanta .flags .flag{ float: right;  width: 22px;  height: 16px;}
.cuerpo .info .bloqueB .notaB .titulo{ margin-top: 34px; color: #001e45; line-height: 1.2; clear: both;  font-family: 'Roboto Slab', serif;  font-size: 18pt; font-weight: 600; margin-bottom: 20px}
.cuerpo .info .bloqueB .notaB .relacionadas { font-family: 'roboto slab'; font-weight: 600; font-size: 11pt}
.cuerpo .info .bloqueB .notaB .relacionadas .relacionada {color: #1b4ea1; background-image: url('./img/link.jpg'); padding-left: 15px; background-repeat: no-repeat; margin-bottom: 11px; background-position: 0px 4px}
.cuerpo .info .bloqueB .lastNotaB {margin-right: 0px}

.cuerpo .info .bloqueC .notaC{  width: 460px;  float: left;  margin-right: 20px;}
.cuerpo .info .bloqueC .notaC .foto{width: 100%;  height: 200px; margin-bottom: 10px}
.cuerpo .info .bloqueC .notaC .volanta{width: 100%; font-family: 'Roboto'; margin-bottom: 10px; font-size: 10pt}
.cuerpo .info .bloqueC .notaC .volanta .txt{float: left;}
.cuerpo .info .bloqueC .notaC .volanta .flags{ float: right; }
.cuerpo .info .bloqueC .notaC .volanta .flags .flag{  float: right;  width: 22px;  height: 16px;}
.cuerpo .info .bloqueC .notaC .titulo{ margin-top: 34px; color: #001e45; line-height: 1.2; clear: both;  font-family: 'Roboto Slab', serif; font-size: 25pt; font-weight: 600; margin-bottom: 13px}
.cuerpo .info .bloqueC .notaC .relacionadas { font-family: 'roboto slab'; font-weight: 600; font-size: 11pt}
.cuerpo .info .bloqueC .notaC .relacionadas .relacionada {color: #1b4ea1; background-image: url('./img/link.jpg'); padding-left: 15px; background-repeat: no-repeat; margin-bottom: 11px; background-position: 0px 4px}
.cuerpo .info .bloqueC .lastNotaC {margin-right: 0px}

.cuerpo .info .banner700 {  clear: both; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; padding:20px 0px; margin: 20px 0px; text-align: center;}

/*CARROUSEL*/
.carrousel {width: 100%}
.carrousel .arrowLeft{ width: 20px; float: left; font-size: 23pt; margin-top: 90px; margin-right: 10px}
.carrousel .arrowRight{ width: 20px; float: right; font-size: 23pt; margin-top: 90px;}
.carrousel .carrouselMask{ float: left; overflow: hidden; width: 1200px}
.carrousel .carrouselMask .carrouselLine{ width: 2000px}
.carrousel .carrouselMask .carrouselLine .carrouselNota{ float: left; width: 200px; margin-right: 10px; padding: 5px 5px 15px; border: 1px solid #e4e4e4 }
.carrousel .carrouselMask .carrouselLine .carrouselNotaLast { margin: 0px}
.carrousel .carrouselMask .carrouselLine .carrouselNota .foto{ width: 100%; height: 150px; background-size: cover; margin-bottom: 10px}
.carrousel .carrouselMask .carrouselLine .carrouselNota .titulo {color: #001e45; line-height: 1.2; font-family: 'Roboto Slab', serif; font-size: 14pt; font-weight: 600;}


/*MAS LEIDAS*/
.masLeidas {margin-top: 15px}
.masLeidas .titulo{ background: #f51313; color: white; font-family: 'Roboto Slab'; font-size: 20pt; padding: 5px 5px 5px 15px}
.masLeidas .titulo i{margin-right: 6px}
.masLeidas .lista{}
.masLeidas .lista .item { color: #9b1405; padding: 8px 13px; border-bottom: 1px solid #e4e4e4; font-family: 'Roboto Slab'; font-size: 12pt; font-weight: 400}

/*DEBATE*/
.debate {margin-top: 25px}
.debate .titulo{ background: orange; color: white; font-family: 'Roboto Slab'; font-size: 20pt; padding: 5px 5px 5px 15px}
.debate .titulo i{margin-right: 6px}
.debate .lista{}
.debate .lista .item { color: #9b1405; padding: 8px 13px; border-bottom: 1px solid #e4e4e4; font-family: 'Roboto Slab'; font-size: 12pt; font-weight: 400}


/*BOTONES*/
.qs {
  background: #202020;
}

.ad {
  background: #db3737;
}

.ac {
  background: #6596db;
}

.sa {
  background: #ffd400;
  color: #444;
}
